/* Custom toolcompendium style rules for OpenCARP */

#tc-top h1 {
    background: #009682 !important;
}

#tc-gotop {
    background-color: #009682 !important;
}

nav ul li:hover {
    background: #00ffdd8f !important;
}

tr.tc-header {
    background-color: #009d888f !important;
}

tr {
    background-color: #b5ddd8 !important;
}
